

@media screen and (min-width: 1485px) {
    #about-me-h1-wrapper {
        width: 50%;
        color: aqua;
        text-shadow:
            -1px -1px 1px #111,
            2px 2px 1px grey;
        font-size: 50px;
        box-shadow: 0px 2px 0px 0px yellow;
        padding-bottom: 2%;
        padding-top: 2%;
        margin-bottom: 3%;
        margin-left: 25%;
        font-family: Verdana, sans-serif;
        font-weight: bold;
    }

    #about-me-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        background-color: rgb(167, 255, 255, .1);
        box-shadow: 0px 5px 15px black
    
    }

    #about-me-container {
        display: flex;
        height: 1200px;
        width: 100vw;
    }

    .about-me-wrapper {
        display: flex;
        width: 23vw;
        padding-bottom: 1.5%;
        margin-left: 25%;
        color: white;
        font-size: 18px;
        box-shadow: white;
    }

    #about-me-image-wrapper {
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding-right: 10%;
    }
    
    #jiujitsu-image {
        height: 50%;
        width: 50%;
        box-shadow:
            50px -50px 0px aqua,
            50px -50px 10px white;
    }
}

@media screen and (min-width:801px) and (max-width: 1484px) {
    #about-me-h1-wrapper {
        width: 50%;
        color: aqua;
        text-shadow:
            -1px -1px 1px #111,
            2px 2px 1px grey;
        font-size: 50px;
        box-shadow: 0px 2px 0px 0px yellow;
        padding-bottom: 2%;
        margin-bottom: 3%;
        margin-left: 0%;
        font-family: Verdana, sans-serif;
        font-weight: bold;
    }

    #about-me-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        background-color: rgb(167, 255, 255, .1);
        box-shadow: 0px 5px 15px black;
        padding-left: 35px;
    
    }
    #about-me-container {
        display: flex;
        height: 1200px;
        width: 100vw;
    }

    .about-me-wrapper {
        display: flex;
        width: 500px;
        padding-bottom: 1.5%;
        margin-left: -10%;
        color: white;
        font-size: 15px;
        box-shadow: white;

    }

    #about-me-image-wrapper {
        display: flex;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
    }
    
    #jiujitsu-image {
        height: 50%;
        width: 50%;
        box-shadow:
            50px -50px 0px aqua,
            50px -50px 10px white;
    }

}

@media screen and (max-width: 800px) {
    #about-me-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        background-color: rgb(167, 255, 255, .1);
        box-shadow: 0px 5px 15px black;
    
    
    }

    #about-me-container {
        display: flex;
        height: 1200px;
        width: 100vw;
        justify-content: center;
    }
    .about-me-wrapper {
        display: flex;
        width: 70vw;
        padding-bottom: 1.5%;
        color: white;
        font-size: 20px;
        box-shadow: white;
        
    }

    #about-me-image-wrapper {
display: none;
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    
    #jiujitsu-image {
display: none
    }
}


.about-me-wrapper>div {
    width: 100%
}

.about-me-wrapper>div>a,
.about-me-wrapper>div>a:visited {
    text-decoration: none;
    color: yellow;
}

.about-me-wrapper>div>a:hover {
    text-decoration: none;
    color: aquamarine;
}


#about-me-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 2%;
}

#about-me-links-container-one {
    display: flex;
    flex-direction: column;
}

#about-me-links-container-one>div {
    display: flex;
    align-items: center;
    height: 3vh;
}

#about-me-links-container-one>div>p {
    color: aqua;
}

#about-me-links-container-one>div>a,
#about-me-links-container-one>div>a:visited {
    text-decoration: none;
    color: yellow;
}

#about-me-links-container-one>div>a:hover {
    color: aquamarine;
    opacity: 1;
}

#about-me-links-container-two {
    display: flex;
    flex-direction: column;
    padding-right: 25%;
}

#about-me-links-container-two>div {
    display: flex;
    align-items: center;
    height: 3vh;
}

#about-me-links-container-two>div>p {
    color: aqua;
}

#about-me-links-container-two>div>a,
#about-me-links-container-two>div>a:visited {
    text-decoration: none;
    color: yellow;
}


#about-me-links-container-two>div>a:hover {
    color: aquamarine;
}

