#splash-container {
  display: flex;
  flex-direction: row;
  height: 1200px;
  width: 100vw;

  align-items: center;
 margin-top: 150px;
}

#splash-container > div:first-child {
  background-color: rgb(167, 255, 255, .1);
  box-shadow: 0px 5px 15px black;
}


#splash-description-text {
  color: white;
  font-size: 25px;
  box-shadow: 0px 3px 0px 0px yellow;
  padding-bottom: 3%;
}

@media screen and (min-width: 685px) {
  #splash-name-text {
    font-family: 'Roboto Slab';
    font-size: 70px;
    color: aqua;
    text-shadow:
      1px 2px 1px #111,
      2px 2px 1px aquamarine;
  }

  #splash-profile-image {
    display: flex;
    height: 75vh;
    width: 25vw;
    box-shadow:
      50px 50px 0px aqua,
      50px 50px 10px white;
  }
}


@media screen and (max-width: 685px) {

  #splash-profile-image {
    height: 50vh;
    width: 25vw;
    margin-left: -20%;
    box-shadow:
      50px 50px 0px aqua,
      50px 50px 10px white;
  }

  #splash-name-text {
    font-family: 'Roboto Slab';
    font-size: 70px;
    color: aqua;
    text-shadow:
      1px 2px 1px #111,
      2px 2px 1px aquamarine;
  }
}