.splashDiv {
  display: flex;
  flex-direction: row;
  width: 30vw
}

.projectsDiv {
  margin-top: 50px;
  margin-left: 48vw;
  width: 500px;
}

.sideBarDivided{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
}

