.splashDiv {
  display: flex;
  flex-direction: row;
  background-image: url("https://64.media.tumblr.com/547e45b04938faf72c0b4c749a1dd616/b4df42b34e7c11f0-3d/s1280x1920/755fab1655de2e798d316ae3facd149928c021e2.jpg")
}

.projectsDiv {
  margin-top: 50px;
  margin-left: 45vw;
  width: 500px;
}

