.pixrImage {
  height: 200px;
  width:200px;
  
}
.pixrContainer{
display: flex;
  flex-direction: column;
  border: thick double #32a1ce;
  border-radius: 50px;
  margin-bottom: 3vh;
  width: 43vw;
  background-color: white;
}


.pixrComponent{
  font-size: 30px;
  margin-bottom: 1vh
}
.pixrLinkContainer{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.pixrTechnologies {
  display: flex;
  margin-bottom: 5vh;
  justify-content: space-around;
}

.pixrImageContainer {
  display: flex;
  margin-left: 12.5vw;
    margin-bottom: 5vh;
  margin-bottom: 10vh
}