.pixrImage {
  height: 200px;
  width:200px;
}
.pixrContainer{
display: flex;
  flex-direction: column;
}


.pixrComponent{
  font-size: 30px;
}
.pixrLinkContainer{
  display: flex;
  justify-content: center;
}

.pixrTechnologies {
  display: flex;
  justify-content: space-around;
}

.pixrImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh
}