.profileImage {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-left: 4vw;
}


.sideBarName {
  display: flex;
  margin-left: 11.5vw;
  font-size: 25px;
}

.sideBarDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 35vw;
  margin-top: 5vh;
  border: thick double #32a1ce;
  border-radius: 50px;
  background-color: white;
  height: 50vh
}

.restDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}


.aboutMe {
  margin-left: 30px;
  margin-right: 4vw;
  width: 30vw;
  height: 20vh;
  font-size: 2vh;
  align-items: center;
}

.linksDiv {
  display: flex;
  size: 5vh;
  margin-left: 5vw;
  margin-bottom: 5vh 
}

a:visited {
  color: blue;
}

a:focus {
  color:purple;
  outline: none;
}

#gitHubImg{
  height:45px;
}

#linkedInImg{
  height:45px;
}

#angelListImg{
  height:45px;
}